export ADDR=":3000"
export DB_ADDR=postgres://admin:adminpassword@localhost:5432/wisely?sslmode=disable
export DB_ADDR_TEST=postgres://admin:adminpassword@localhost:5432/test?sslmode=disable
export MAILTRAP_USERNAME="bb00d76e21b943"
export MAILTRAP_PASSWORD="3cbc3bfe6716de"
export FROM_EMAIL="noreply@wise.ly"